{% extends 'main/base.html' %}

{% load static %}

{% block title %}
  Подбор товара
{% endblock title %}


{% block content %}
  <div class="way">
    <div class="container">
      <a href="{% url 'home' %}" >Главная</a>
      >
      <a href='#' class='active'>Подбор товара</a>
    </div>
  </div>

<section class="section salePage">
  <div class="container">
    <h2 class="pageHeader">Подбор матраса</h2>
    {% if selections == False %}
    <h2>Товара с такими критериями нет в наличии</h2>
    {% else %}
    {% for selection in selections %}
    <div class="saleBase">
      <div class="item d-flex">
        <img class='banner' src="{{ selection.image_for_cart.url }}" alt="">
        <div class="info">
          <h3>{{ selection.title }}</h3>
          <p class="chars">
            <span class='d-block'>Жесткость: {{ selection.rigidity }}</span>
            <span class='d-block'>Размер: {{ selection.size }}</span>
            <span class='d-block'>Высота: {{ selection.height }}</span>
          </p>
          <p>
            <span style='font-weight: bold; font-size: 18px; margin-right: 15px;'>{{selection.price}} Руб.</span>
            <span style='font-weight: normal; font-size: 15px; text-decoration: line-through;'>{{selection.old_price}} Руб.</span>
          </p>
          <button onclick="location.href='{% url 'item' ct_model=selection.category slug=selection.slug %}'" 
          class="golden-button">ПОДРОБНЕЕ</button>
        </div>
      </div>
    </div>

      {% endfor %}
    {% endif %}
</div>
</section>
{% endblock content %}