.SaleGood{
  width: 100%;
  height: 353px;
  background: linear-gradient(0deg, #1B2232, #1B2232), #2958F9;
  border-radius: 20px;

  margin-bottom: 24px;

  @media (max-width:  @smallDesctopResolution) {
   height: 340px;     
  }

  @media (max-width: @mobileResolution) {
    flex-direction: column;
    height: auto;
  }

  // &:last-child{
  //   margin-bottom: 47px;
  // }
  &__slider{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 32px 0;
    height: calc(353px - 32px * 2);
    @media (max-width: @mobileResolution){
      width: 100%;
    }
    .dicsount-info{
      position: absolute;
      left: 0;
      top: 0;
      width: 207px;
      height: 167px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: -41px -59px;
      background-image: url('/static/img/discountInfo.svg');
      @media (max-width: @mobileResolution){
        width: 125px;
        background-position: -24px -27px;
      }
      p{
        color: #FFFFFF;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        transform: rotate(-34.9deg);
        margin-left: -130px;
        margin-top: 20px;
        text-align: center;

        @media (max-width: @mobileResolution){
          margin-left: -50px;
          margin-top: 11px;
        }
      }
    }

    span{
      color: @goldColor;
      font-size: 14px;
      text-transform: uppercase;
    }

    h3{
      color: #fff;
      font-size: 34px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
      @media (max-width: @mobileResolution){
        font-size: 30px;
      }
    }
  }
  &__about{
    width: 28%;
    // background: linear-gradient(0deg, #000000, #000000);
    background: linear-gradient(
      95.2deg
      , #1E2027 4.17%, #1B2232 96.87%);
    @media (max-width: @mobileResolution){
      width: 100%;
      flex-direction: column-reverse;
    }



    ul{
      // padding-top: 40px;
      margin-top: 0;
      padding-left: 32px;

      @media (max-width: @smallDesctopResolution){
        padding-left: 5px;
        padding-top: 20px;
      }
      @media (max-width: @mobileResolution) {
        width: calc(100%);
        padding-left: 0;
        padding-top: 0;
      }
      li{
        &:first-child{
          margin-top: 0;
        }
        color: @goldColor;
        list-style-type: none;
        max-height: 44px;
        margin-top: 28px;
        padding-right: 15px;
        text-transform: uppercase;
        position: relative;

        @media (max-width: @smallDesctopResolution){
          padding-right: 5px;
          font-size: 12px;
        }
        @media (max-width: @mobileResolution) {
          margin-top: 23px;
        }

        img{
          margin-right: 10px;
        }

        .info{
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 153px;
          text-transform: uppercase;
        }
      }
    }

    .buttonsWidget, .selectWidget{
      height: 44px;
      width: 153px;
      display: flex;
      align-items: center;
      color: #fff;
      padding: 0;
      span{
        text-transform: uppercase;
      }
      &::after{
        top: 18px;
      }
    }

    .buttonsWidget{
      justify-content: space-between;
      button{
        width: 70px;
        height: 44px;
        border-radius: 50px;
        border: 1.5px solid #B0BDC9;
        background: none;
        color: #B0BDC9;
        transition: @transition;
        &:hover{
          color: #fff;
          border: 1.5px solid #fff;
          transition: @transition;
        }
      }

      .active{
        border: 1.5px solid #fff;
        color: #fff;
      }
    }

    .selectWidget{
      justify-content: center;
      border: 1px solid @redColor;
      border-radius: 50px;
      // transition: @transition;
      &:hover{
        border: 1px solid @goldColor;
        // transition: @transition;
      }
    }

    .selected{
      border-radius: 25px 25px 0 0; 

      ul {
        padding-top: 0;
        width: calc(100% - 1px);
        left: -1px;
        li{
          margin-top: 0;
        }
      }
    }
  }
  &__price{
    width: calc(100% - 48% - 28%);
    background-image: url('/static/img/linesBg.svg');

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0 20px 20px 0;
    

    

    @media (max-width: @mobileResolution){
      padding-top: 23px;
      padding-bottom: 38px;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      background-size: cover;
      border-radius: 0 0 20px 20px;
    }


    &_current{
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
      color: #fff;

      margin-top: 13px;
      margin-bottom: 3px;
      @media (max-width: @smallDesctopResolution){
        font-size: 29px;
      }
      @media (max-width: @mobileResolution){
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 26px;
        text-align: center;
      }
    }
    &_old{
      margin-top: 0;
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 22px;
      text-decoration-line: line-through;
      color: #B0BDC9;
      @media (max-width: @mobileResolution){
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
      }
    }

    .logo{
      width: 108px;
      height: 77px;
      margin-top: 20px;

      @media (max-width: @mobileResolution){
        display: none;
      }
    }

    .red, .gold{
      width:  176px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      border-radius: 50px;

      @media (max-width: @mobileResolution){
        width: 40%;
      }
    }

    .red{
      height: 48px;
      background: @redColor;
      color: #fff;
      border: none;
      transition: @transition;

      &:hover{
        transition: @transition;
        background: lighten(@redColor, 10);
      }
    }

    .gold{
      height: 36px;
      margin-top: 11px;
      margin-bottom: 18px;
      @media (max-width: @mobileResolution){
        height: 48px;
        width: 100%;
      }
    }

    .compare{
      text-transform: uppercase;
      margin-left: 0;
      color: @goldColor;
      cursor: pointer;
      transition: border-bottom .2s ease;
      padding-bottom: 3px;
      position: relative;
      button{
        background: none;
        border: none;
        color: @goldColor;
      }
      &:after{
        // width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: @goldColor;
        display: block;
        content: '';
        animation:toffe-reverse;
        animation-duration: .3s;
        // animation-direction: alternate;
      }
      img{
        margin-right: 15px;
      }
      &:hover{
        transition: border-bottom .2s ease;
        &:after{
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: @goldColor;
          display: block;
          content: '';
          animation:toffe;
          animation-duration: .3s;
          animation-direction: alternate;
        }
      }
    }
  }
  &__base{
    width: calc(100% - 3px * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .detailsMobile{
      margin-top: 10px;
      margin-bottom: 13px;
      width: fit-content;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      position: relative;
      &::after{
        position: absolute;
        display: block;
        width: 9px;
        height: 9px;
        content: '';
        background-image: url(/static/img/detailsVector.svg);
        background-repeat: no-repeat;
        top: 5px;
        right: -20px;
      }
    }



    @media (max-width: @mobileResolution) {
      padding-left: 22px;
      padding-right: 22px;
      width: calc(100% - 44px);
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      align-items: center;

      ul , div {
        display: none;
      }

    }
    ul li div:first-child {
      display: flex;
      img{
        width: 15px;
        height: 15px;
      }
    } 
  }
  &__icons{
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 32px;

    img{
      height: 53px;
      margin-right: 15px;

      &:last-child{
        margin-right: 0;
      }

      @media (max-width:  @smallDesctopResolution) {
        height: 45px;

      }
      @media (max-width: @mobileResolution){
        height: 50px;
        margin-right: 0;
      }
    }
    @media (max-width: @mobileResolution) {
      justify-content: space-between;
    }
    @media (max-width: @smallDesctopResolution){
      padding-left: 5px;
      padding-right: 5px;
    }
  }



}