[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
django-richtextfield = "*"
django = "*"
django-mathfilters = "*"
django-jet = "*"
six = "*"

[requires]
python_version = "3.9"
